﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="frmEdit.aspx.cs" Inherits="EpicInventory.frmEdit" MasterPageFile="~/frmMaster.Master"%>
<asp:Content runat="server" ContentPlaceHolderID="ContentPlaceHolder1">
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<body>
        <div align="center">
            <h1> Update the Inventory Stock </h1>
            <table>
                <tr>
                    <td>Item Name :</td>
                    <td>
                        <asp:DropDownList ID="DropDownList1" runat="server" Height="100%" Width="100%"></asp:DropDownList></td>
                </tr>
                <tr>
                    <td>Update Stock :</td>
                    <td>
                        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox></td>
                    <td>
                        <asp:Label ID="Label1" runat="server"></asp:Label></td>
                </tr>
                <tr>
                    <td class="auto-style1" style="height:20px"></td>
                    <td class="auto-style1"></td>
                </tr>
                <tr>
                    <td>
                        <asp:Button ID="Button1" runat="server" Text="Save" onclick="Button1_Click"/></td>
                    <td><input type="reset" value="Clear" /></td>
                </tr>
            </table>
        </div>
</body>
</html>
        </asp:Content>