﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="frmMaster.master.cs" Inherits="EpicInventory.frmMaster" %>

<!DOCTYPE html>

<html>
<head runat="server">
    <title></title>
    
</head>
<body style="background-image:url(https://www.netpremacy.com/wp-content/uploads/2018/09/Background-website-01.jpg);background-size:100%">
    <form id="form1" runat="server" >
        <div style="text-align:center; background-image:url(https://www.klaviyo.com/wp-content/uploads/2016/09/abstract-background-1024x273.jpg); background-size:100%;" >   
             
                        <h1 align="center">EpicMinds Inventory Management</h1>
                   
            <asp:ImageButton ID="ibtnHome" runat="server" ImageUrl="~/Images/Home_icon.png" ImageAlign="Left" Width="50px" 
                style="position:absolute;top:65px;left:10px;" OnClick="ibtnHome_Click" />
        </div>
        <div style="text-align:center;>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">                
                         </asp:ContentPlaceHolder>
        </div>
    </form>
</body>
</html>
